<% provide(:title, 'Reset Password') %>

<% content_for :styles do %>
  <!-- Page -->
  <%= stylesheet_link_tag 'pages/authentication.css', media: 'all' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">

    <!-- Side container -->
    <!-- Do not display the container on extra small, small and medium screens -->
    <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('/img/bg/21.jpg');">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>

      <!-- Text -->
      <div class="w-100 text-white px-5">
        <h1 class="display-2 font-weight-bolder mb-4">Floworx Password Reset</h1>

        <div class="text-large font-weight-light">
          Enter and confirm your new password
        </div>
      </div>
      <!-- /.Text -->
    </div>
    <!-- / Side container -->

    <!-- Form container -->
    <div class="d-flex col-lg-4 align-items-center bg-white p-5">
      <!-- Inner container -->
      <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
        <div class="w-100">

          <div class="login-flash">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %></div>
            <% end %>
          </div>

          <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0">Reset Password</h4>

          <%= form_for(@user, url: password_reset_path(params[:id]), html: { class: 'my-5' }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= hidden_field_tag :password_reset_token, @user.password_reset_token %>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, 'Confirmation' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>

            <%= f.submit 'Update password', class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- / Form container -->

  </div>
</div>
