
<!-- Layout sidenav -->
<div id="layout-sidenav" class="<% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0<% else %>layout-sidenav sidenav-vertical<% end %> sidenav bg-sidenav-theme">
  <% if local_assigns[:horizontal] != true %>
  <!-- Brand demo (see assets/css/demo/demo.css) -->
  <div class="app-brand demo">
    <a href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Floworx</a>
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>

  <div class="sidenav-divider mt-0"></div>
  <% end %>

  <!-- Links -->
  <ul class="sidenav-inner<% if local_assigns[:horizontal] != true %> py-1<% end %>">

    <!-- Dashboards -->
    <li class="sidenav-item<%= current_page?(dashboard_path) ? ' active' : '' %>">
      <%= link_to dashboard_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-speedometer"></i><div>Dashboard</div><% end %>
    </li>

    <li class="sidenav-divider mb-1"></li>
    <li class="sidenav-header small font-weight-semibold">MODULES</li>

    <li class="sidenav-item<%= current_page?(clients_path) ? ' active' : '' %>">
      <%= link_to clients_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-contacts"></i><div>Clients</div><% end %>
    </li>

    <li class="sidenav-item<%= current_page?(projects_path) ? ' active' : '' %>">
      <%= link_to projects_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-list-box"></i><div>Projects</div><% end %>
    </li>

    <li class="sidenav-item<%= current_page?(grades_path) ? ' active' : '' %>">
      <%= link_to grades_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-funnel"></i><div>Grades</div><% end %>
    </li>

    <li class="sidenav-item<%= current_page?(roles_path) ? ' active' : '' %>">
      <%= link_to roles_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-cube"></i><div>Roles</div><% end %>
    </li>

    <li class="sidenav-item<%= current_page?(skills_path) ? ' active' : '' %>">
      <%= link_to skills_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-star"></i><div>Skills</div><% end %>
    </li>

    <li class="sidenav-divider mb-1"></li>
    <li class="sidenav-header small font-weight-semibold">UI KITS</li>

    <li class="sidenav-item<%= current_page?(wrap_dashboards_dashboard_1_path) ? ' active' : '' %>">
      <%= link_to wrap_dashboards_dashboard_1_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-md-color-palette"></i><div>UI Wrap</div><% end %>
    </li>
  </ul>
</div>
<!-- / Layout sidenav -->
