<% provide(:title, 'All Projects') %>
<h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-4">
  <div class="mb-2">
    <ol class="breadcrumb font-weight-bold m-0">
      <li class="breadcrumb-item"><%= link_to 'Projects', projects_path %></li>
      <li class="breadcrumb-item active"><small>All Projects</small></li>
    </ol>
  </div>
  <div class="mb-2" style="max-width: 200px;">
    <%= link_to new_project_path, class: "btn btn-primary" do %>
      <span class="ion ion-md-add-circle"></span>&nbsp;&nbsp;New Project
    <% end %>
  </div>
</h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Code</th>
    <th>Client</th>
    <th>Project Name</th>
    <th>Engagements</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <th scope="row"><%= link_to project.full_code, project_path(project) %></th>
      <th scope="row"><%= link_to project.client.name, client_path(project.client) %></th>
      <td><%= project.name %></td>
      <td><%= project.engagements.count %></td>
    </tr>
  <% end %>
  </tbody>
</table>